/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #F0F0F0;
  font-family: "Poppins", sans-serif;
  color: #333;
}

.heading--primary {
  font-weight: 800;
  font-size: 2rem;
}

.heading--secondary {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1rem;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
}

.flex {
  display: flex;
  gap: 1rem;
}

.container {
  width: 100%;
}

header,
footer {
  background: #fff;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.footer-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  font-size: 0.8rem;
}

.search-input-field {
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 20px;
  font-weight: 600;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease;
}

.search-input-field:focus {
  transform: scale(1.02);
}

.relative-pos {
  position: relative;
}

.search-icon {
  width: 1rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s ease-in-out;
}

.search-icon:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(1.2);
}

.location-icon {
  width: 1.2rem;
  transition: transform 0.2s ease-in-out;
}

.location-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.card {
  display: flex;
  background: linear-gradient(to right, #87CEEB, #E0F0FF);
  max-width: 40vw;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  margin: 1rem auto;
  padding: 1rem 2rem;
  border-radius: 8px;
  overflow-x: auto;
  transition: all 0.1s ease;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.main-card {
  display: flex;
  justify-content: space-between;
}

.main__img-container {
  max-width: 6rem;
  display: flex;
  align-items: center;
}

.main__img-container img {
  width: 100%;
  transition: transform 0.2s ease;
}

.main__img-container img:hover {
  transform: scale(1.05);
}

.list-column-1 {
  flex-basis: 100px;
}

.list-column-2 {
  flex-basis: 200px;
}

.align-right {
  text-align: right;
}

.list-container {
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.list-container:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-img {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80vw;
  height: 4rem;
  background: #FFCCCC;
  color: #CC0000;
  border-radius: 12px;
  letter-spacing: 1px;
}